<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <form action="/login" method="post">
        <p>
            <label>Email</label><br>
            <input type="text" name="email"/>
        </p>
        <p>
            <label>Password</label><br>
            <input type="password" name="password"/>
        </p>
        <p>
            <input type="submit" value="Login"/>
        </p>
    </form>
</body>
</html>