<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <title>User Page</title>
</head>
<body>
  <form action="/users" method="post">
    <table class="table table-striped-columns">
      <tr>
        <th>Role</th>
      </tr>
      <% users.forEach(el => { %>
        <tr>
          <td><%= el.role %></td>
        </tr>
      <% }) %>
    </table>
    <a href="/userDetails">
      <button class="btn btn-secondary btn-sm">See Detail</button>
    </a>
  </form>
</body>
</html>